body {
  background-color: #2676bf;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;

  /* This bit draws the box around it */
  border: 1px solid grey;

  /* I've used padding so you can see the edges of the elements. */
  padding: 2px;
}

input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  /* And hide the input's outline, so the form looks like the outline */
  /* border: none; */
  border: 1px solid white;
  border-right: 0px solid white;
  background: #3175bd;
  color: white;
  width: 80%;
}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

.buttonCustom {
  /* Just a little styling to make it pretty */
  border: 1px solid white;
  background: #2c7cc2;
  padding: 20px;
  color: white;
  border-radius: 0 10px 10px 0;
}
